.amp-vis-container-toolbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-lighter-grey);
  width: 100%;
  padding: 5px;
}

.amp-vis-container-toolbar__group {
  flex-direction: row !important;
}